// Colors
$color-primary: #55c57a;
$color-primary-light: #7ed56f;
$color-primary-dark: #28b485;
$color-grey: #777;
$color-grey-light-1: #f7f7f7;
$color-white: #fff;
$color-black: #000;

$max-width: 114rem;
$gutter-horizontal: 8rem;
$gutter-vertical: 6rem;
$centering: 0 auto;

// Headings
$margin-bottom-big: 8rem;
$margin-bottom-medium: 4rem;
$margin-bottom-small: 1.5rem;

$margin-bottom-heading: 3rem;

// Font-sizes
$default-fontsize: 1.6rem;