.header {
    align-items: center;
    justify-content: center;
    background-image: linear-gradient(
        to right bottom,
        rgba($color-primary-light, 0.8),
        rgba($color-primary-dark, 0.8)
      ),
      url(../img/hero.jpg);
    background-position: center;
    position: relative;
    height: 95vh;
    clip-path: polygon(0 0, 100% 0%, 100% 80%, 0% 100%);
  
    &__text-box {
      position: absolute;
      top: 40%;
      left: 50%;
      transform: translate(-50%, -50%);
      text-align: center;
    }
    
    &__logo-box {
      position: absolute;
      top: 4rem;
      left: 4rem;
    }
    
    &__logo {
      height: 3rem;
    }
  }
